In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

**1.Read the dataset as a dataframe. Create a copy of your dataframe. Solve the rest of the questions using this dataframe copy**

In [9]:
data = pd.read_csv("/kaggle/input/weather-dataset-rattle-package/weatherAUS.csv")
df = data.copy()
df.head(10)

**2.Find out the describe and info attributes of the dataframe. Analyze these information and create a short write-up according to your findings.**

In [10]:
df.describe()  
##describe bize ortalama,standart sapma,minimum ve maksimum gibi bizim için önem arz eden çoğu değeri vermektedir.

In [12]:
df.info()

**3.Find out the shape and size info of the dataset.**

In [15]:
df.shape

In [19]:
df.size

**4.Find out the types values of the columns and save the result as a dataframe.**

In [25]:
df_types = pd.DataFrame(df.dtypes,columns=["d_types"])

In [26]:
df_types

**5.Find out the non-null counts of the columns and save the result as a dataframe.**

In [28]:
not_null =pd.DataFrame(df.notnull().sum(),columns=["not_null"])

In [29]:
not_null

**6.Find out the null counts of the columns and save the result as a dataframe**

In [30]:
isnull_ = pd.DataFrame(df.isnull().sum(), columns = ["is_null"])

In [31]:
isnull_

**7.Find out the unique counts of the columns and save the result as a dataframe.**

In [32]:
unique_ = pd.DataFrame(df.nunique(), columns = ["nuniques"])

In [33]:
unique_

**8.Merge the dataframes you created in questions 4-5-6-7. Expected output: example result**

In [47]:
columns = pd.DataFrame(df.columns, columns = ["columns"])     ##################????
columns.reset_index(drop=True, inplace=True)

In [ ]:
d_types.reset_index(drop=True, inplace=True)
not_null_s.reset_index(drop=True, inplace=True)
is_null_.reset_index(drop=True, inplace=True)
unique_.reset_index(drop=True, inplace=True)

In [ ]:
df = [columns, d_types, not_null_s, is_null_, unique_]
merge_ = pd.merge(df, axis=1)

**9.Lowercase all column names.**

In [54]:
df.columns = map(str.lower,df.columns)
df.head()

**10.Change all the No values to NoRain and all the Yes values to Rain in raintoday and raintomorrow columns.**

In [55]:
df.raintoday.replace(['No','Yes'],['NoRain','Rain'], inplace=True)
df.raintomorrow.replace(['No','Yes'],['NoRain','Rain'], inplace=True)
df.loc[:, "raintoday":"raintomorrow"]

**11.Change the data type of "date" (object) column to datetime64 and reformat the date as DD/MM/YYYY.**

In [56]:
df.date.dtype

In [58]:
df['date']=df['date'].astype('datetime64[ns]')
df['date']=df['date'].dt.strftime('%m/%d/%Y')
df.head()

**12.Create a new column called "difference", calculate the difference between maxtemp and mintemp columns for each row, and store the value in this new column.**

In [60]:
df_dif = pd.DataFrame((df["maxtemp"]-df["mintemp"]), columns=["df_dif"])
df_dif

**13.Remove the evaporation and sunshine columns from the dataset permanently.**

In [61]:
df.drop(["evaporation","sunshine"], axis=1)
df

**14.Find out the most rainy day for each city.**

In [64]:
pd.DataFrame(df.loc[df.groupby('location').rainfall.idxmax()], columns=["location","date","rainfall"])

**15.Filter out all the data for the city 'Albury' and then sort according to maxtemp column.**

In [ ]:
df[df['location']=='Albury'].sort_values(by=['maxtemp'],ascending=False)    ####??

**16.Find out the NaN counts for each column.**

In [68]:
pd.DataFrame(df.isnull().sum(),columns=["NaN"])

**17.Remove the rows with NaN values in "windgustdir" column from the dataframe permanently.**

In [73]:
df.dropna(subset=['windgustdir'],inplace=True)
df['windgustdir'].isna().sum()

****18.Create a new dataframe, use "Location" column as the index of the dataframe, display the min, max, and median values of "evaporation" and "sunshine" columns in this dataframe.****

In [74]:
df1 = df.copy()
gruop_df = df1.groupby("location")[["evaporation", "sunshine"]]
gruop_df.describe()

**19.Find out the hottest day of "Perth". Example output: Timestamp('2015-01-05 00:00:00')**

In [ ]:
######################

**20.Group your dataframe by location and find out the averages of all numeric values.**

In [75]:
df.groupby("location").mean()